$primary: (
  color: #2fa09d,
  dark:  darken(#2fa09d, 30%),
  light: lighten(#2fa09d, 30%)
);

$secondary: (
  color: #E86953,
  dark:  darken(#E86953, 30%),
  light: lighten(#E86953, 30%)
);
$yiq-contrasted-threshold:  160;


/* Material Icons fonts */
@import "public/fonts/material-icons";

/* Google fonts for Headings and body text */
@import "public/fonts/google-fonts";

@import "node_modules/daemonite-material/assets/scss/material";

@include media-breakpoint-up(lg) {
  .content-wrapper {
    margin-left: $navdrawer-width;
  }
  #content.content-wrapper{
    width: calc(100% - 17.5rem);
    max-width: none !important;
  }
}

body p {
  font-family: 'Bitter';
}

h1,h2,h2,h4,p.lead, .nav-item, .navbar-brand, .navbar-nav {
  font-family: 'Montserrat';
}

.content-wrapper {
    margin-top: 4rem;
}

.navdrawer-header{
  background-color: var(--dark-dark);
  padding-top:30px;
}

li.nav-item.dropdown{
  width:100%;
}

#navbarDropdown{
  color: #fff;
  opacity:1;
}

#navbarDropdown::after{
  float:right;
}

.user-avatar {
    margin-top: -15px;
    border-radius: 50px;
    max-height: 55px;
    float:left;
}

.nav-link{
  font-size: 16px !important;
}

nav.navdrawer-nav li.nav-item{
  height:58px; //matches KC theme, which is rendering height differently
}

nav.navdrawer-nav i.material-icons{
  color: var(--dark-light);
}

nav.navdrawer-nav a.active i
, nav.navdrawer-nav a.active:hover{
  color: var(--primary);
}

.jumbotron{
  padding-bottom: 150px;
  box-shadow: none;
}

.login-header {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size:60px;
}

.login-btn{
  margin-top:25px;
  border-radius: 25px;
  max-width:255px;
}

img#Wireframe{
  margin-top: -150px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

button{
  white-space: inherit;
}

#footer-image {
    padding-top: 80px;
    margin-bottom: -68px;
    width: 248px;
    position: relative;
    z-index: -1;
}

#footer-container {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.underline {
  text-decoration: underline;
}

.homeparagraph {
  line-height: 1.6875;
}

/** Survey Page **/
.survey-heading{
  font-size: 36px;
  font-weight: 600;
}

.custom-range{

}

.custom-range::-webkit-slider-thumb{
  -webkit-appearance: none;
    background: var(--primary);
    cursor: pointer;
    height:18px;
    width: 28px;
    margin-top: -4px;
    border-radius: 10px;
}

.custom-range::-moz-range-thumb
{
  background: var(--primary);
  cursor: pointer;
}

.custom-range::-ms-thumb{
  background: var(--primary);
  cursor: pointer;
  height:16px;
  width: 20px;
}

.custom-range:focus::-webkit-slider-thumb,
.custom-range:active::-webkit-slider-thumb{
  box-shadow: none;
  outline:none;
  background: var(--primary);
 }

.custom-range::-webkit-slider-runnable-track{
  height: 10px;
  background-color: #EAE9EA;
  border-radius: 5px;
}

.custom-range:focus::-webkit-slider-runnable-track{
    background-color: #cccccc;
}

.custom-range::-ms-track{
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.custom-range::-ms-fill-lower{
  background: #EAE9EA;
  border: 0.2px solid #2fa09d;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #EAE9EA, 0px 0px 1px #EAE9EA;
}

.custom-range:focus::-ms-fill-lower {
  background: var(--primary);
}

.custom-range::-ms-fill-upper{
  background: #EAE9EA;
   border: 0.2px solid #EAE9EA;
   border-radius: 2.6px;
   box-shadow: 1px 1px 1px #EAE9EA, 0px 0px 1px #EAE9EA;
}

.custom-range:focus::-ms-fill-upper {
  background: var(--primary);
}

.question-container{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.question-text{
  flex-grow: 2;
}

.question-list{
  font-size:12px;
  font-weight: 500;
  padding: 0px 9px 0px 11px;
}

.question-list ul{
  list-style: none;
  display: contents;
  width:100%;
  padding-left: 0px;
  display: inline-flex;
  justify-content: space-between;
}

.question-category{
  font-weight: bold;
  color: var(--secondary);
  font-family: 'Montserrat', sans-serif;
}

.question-text{
  font-family: 'Roboto', sans-serif;
  line-height: 1.8em;
}

.next-question-btn{
  border-radius: 50px;
  padding: 18px 90px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.vega-embed{
  padding-right: 0px;
}

/** End Survey **/

@media screen and (max-width:768px){
  .login-header{
    font-size: 36px;
  }
  img#logo{
    align-self:center
  }
}

@media screen and (max-width:320px){
  .login-header{
    font-size: 30px;
  }
}
