html, .container {
  height:100%;
}

body {
  --mdc-theme-primary:#2FA09D;
  --mdc-theme-secondary:#E86953;
  --mdc-theme-accent:#E86953;
  --mdc-theme-background: #f0f0f1;
  background-color:var(--mdc-theme-background, #f0f0f1);
  font-family: "ff-tisa-web-pro",serif;
  font-size: 16px;
  margin:auto;
  display: flex;
  min-height: 100%;
}

#root{
  flex: 1;
}

.elm-overlay {
  /* make sure the elm time-travel control is on top */
  z-index: 999;
}

.container{
  display: flex;
}

.header{
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-text-primary-on-primary,#fff);
}

section.mdc-toolbar__section--align-start{
  padding-left:16px;
}

button.menu{
  display: none;
  padding: 16px 0px;
}

#MenuDrawer{
  z-index: 3;
}

.sidebar{
    background-color:#fff;
    border-right-width: 2px;
    width: 256px;
    overflow: inherit;
}

nav.mdc-list{
    padding-top:0px;
}

nav.mdc-list > a{
    font-family:"ff-tisa-web-pro",serif !important;
    font-size: 20px !important;
    padding:8px 16px !important;
    cursor: pointer;
}

.mdc-persistent-drawer .mdc-list-item__start-detail{
    color:lightgray !important;
}

a.mdc-list-item:focus, a.mdc-list-item:active,
button.user-menu-btn:active, button.user-menu-btn:focus{
    -webkit-tap-highlight-color:transparent;
}

a.mdc-persistent-drawer--selected {
    background-color:#888;
    color: #3F4145 !important;
}

.nav-list-container { /* excludes user-container. This is to have scroll on the nav and fixes user menu from being hidden in sidebar. Possible mdc fix later. */
    overflow-y: overlay;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-flex{
    flex:1; /* keeps .drawer-logo at bottom and not overlaying rest of menu */
}

#content {
  padding: 40px;
}

.mdc-persistent-drawer__toolbar-spacer {
    height: 56px;
}

.user-container{
  background-color: #333333;
  color: white;
  padding:20px 5px 5px 5px;
  position: relative;
}

.user-avatar{
  width:55px;
  height: 55px;
  border-radius: 50%;
  vertical-align: middle;
}

.user-name{
  margin-left: 15px;
  vertical-align: sub;
}

.user-container > .mdc-menu-anchor{
  float: right;
  top: 17px;
}

.user-menu-btn{
  color: white;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

#UserDropdownMenu{
  top:25px !important;
  left: 5px !important;
}

#UserDropdownMenu .mdc-list-item:hover,
nav.mdc-list a:not(.mdc-persistent-drawer--selected):hover {
  background-color: #F0F0F1;
}

#UserDropdownMenu > ul > a {
    color: #3f4145;
    text-decoration: none;
}

.drawer-logo{
  text-align:center;
  padding-bottom:30px;
  margin-top:24px;
}
.drawer-logo img {
  height:71px;
  width:82px;
}

#Regulations div.mdc-textfield, #Regulations .mdc-textfield__input{
  width:300px;
}

#Regulations .mdc-textfield--multiline{
  margin-top:35px;
  margin-bottom: 20px;
}

#Regulations textarea{
  font-family: inherit;
}

#Regulations .mdc-textfield--multiline > label.mdc-textfield__label--float-above{
  left: 0px;
}

/* landing page */
.header-container{
  background-color:#fff;
  padding-top:48px;
  padding-bottom: 144px;
}

.login-header{
  text-transform: uppercase;
  font-family: "mr-eaves-modern",sans-serif;
  margin-top: 21px;
  margin-bottom: 20px;
}

.text-success{
  color: var(--mdc-theme-accent,#E86953);
}

.text-primary{
  color: var(--mdc-theme-primary,#2FA09D);
}

.login-btn{
  height: 38px;
  width: 220px;
  border-radius: 25px;
  font-size: 13px;
  font-family: "mr-eaves-modern",sans-serif;
  margin-bottom: 20px;
}

#wireframe-container{
  margin-top: -144px;
}

.img-sm, .img-lg{
  max-width: 100%;
}

.advantages-container{
  max-width: 1170px;
}

.advantages-list h2{
  text-transform: uppercase;
  font-family: "mr-eaves-modern",sans-serif;
  margin-bottom: 13px;
  margin-top: 27px;
}

.advantages-list p{
  line-height: 1.6875;
  margin-top: 0;
}

footer {
  font-family: "mr-eaves-modern",sans-serif;
  height:55px;
  padding:15px;
  justify-content: center !important;
}
 footer a {
   color: #fff;
   text-decoration: underline;
 }

.align-center{
  text-align:center;
}

#footer-lines-container {
  overflow: hidden;
}

#footer-lines {
  padding-top:80px;
  margin-bottom:-68px;
  width: 248px;
}

@media screen and (max-width:400px){
  #UserDropdownMenu{
    right: 0px !important;
    left: auto !important;
  }
}

@media screen and (min-width:640px) {
    .lg-screen-drawer{
        width: 240px;
        pointer-events: auto;
    }
    .lg-screen-drawer .mdc-persistent-drawer__drawer{
        -webkit-transform: none;
        transform: none;
    }
}

@media screen and (max-width:640px){
  button.menu{
      display: inherit;
  }

  .sm-screen-drawer{
      position: fixed;
      top: 0;
      left: 0;
      contain: strict;
      z-index: 3;
  }

  .sm-screen-drawer.mdc-persistent-drawer--open {
       width:100%;
       height:100%;
     }

  .mdc-persistent-drawer:before {
      display: block;
      top: 0;
      width: 100%;
      background: rgba(0,0,0,.6);
      content: "";
      opacity: 0;
      will-change: opacity;
  }

  .mdc-persistent-drawer--open:before {
      opacity: 1;
  }

  .mdc-persistent-drawer:before, .mdc-persistent-drawer__drawer {
      position: absolute;
      left: 0;
      height: 100%;
  }

  #Regulations div.mdc-textfield, #Regulations .mdc-textfield__input {
    width: 200px;
  }

}

@media screen and (min-width: 768px) {
  h1.login-header {
      font-size: 72px;
  }
  .img-sm{
    display: none;
  }

}

@media screen and (max-width: 767px){
  .img-lg{
    display: none;
  }
}

/* Loading spinner courtesy of loader.io, via elm-spa-example */
.sk-three-bounce { margin-right: 10px; } .sk-three-bounce .sk-child { width: 14px; height: 14px; background-color: #333; border-radius: 100%; display: inline-block; -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; } .sk-three-bounce .sk-bounce1 { -webkit-animation-delay: 0.28s; animation-delay: 0.28s; } .sk-three-bounce .sk-bounce2 { -webkit-animation-delay: 0.44s; animation-delay: 0.44s; } .sk-three-bounce .sk-bounce3 { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; } @-webkit-keyframes sk-three-bounce { 0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); } 40% { -webkit-transform: scale(1); transform: scale(1); } } @keyframes sk-three-bounce { 0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); } 40% { -webkit-transform: scale(1); transform: scale(1); } }
