$primary: (
  color: #5AB4AC,
  dark:  darken(#5AB4AC, 30%),
  light: lighten(#5AB4AC, 30%)
);

$secondary: (
  color: #E86953,
  dark:  darken(#E86953, 30%),
  light: lighten(#E86953, 30%)
);
$yiq-contrasted-threshold:  160;

// Material Icons fonts
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(public/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(public/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(public/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(public/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
// end Material Icons font

@import "node_modules/daemonite-material/assets/scss/material";

@include media-breakpoint-up(lg) {
  .content-wrapper {
    margin-left: $navdrawer-width;
  }
}
.content-wrapper {
    margin-top: 4rem;
}

.user-avatar {
    margin-top: -10px;
    border-radius: 10px;
    max-height: 37px;
}

.login-header {
    text-transform: uppercase;
    font-family: "mr-eaves-modern", sans-serif; 
}

#footer-image {
    padding-top: 80px;
    margin-bottom: -68px;
    width: 248px;
    position: relative;
    z-index: -1;
}

#footer-container {
    overflow: hidden;
    position: relative;
  z-index: 1;
}

.underline {
  text-decoration: underline;
}

.homeparagraph {
  line-height: 1.6875;
}