.env
.DS_Store
.npm-debug.log
postgresql-data/*
mailhog/*
docs/node_modules/*
worker/output/*
webui/node_modules/*
webui/public/node_modules/*
webui/elm-stuff/*
webui/bower_components/*
docs/_book/*
.vscode/*
npm-debug.log
docs/plantuml/*.png
.bazelrc
/bazel-*
.vs/
*.swp
*.swo
faktory-data/db

