version: '2'
volumes:
  database:

services:
  start_dependencies:
    image: dadarek/wait-for-dependencies
    depends_on:
      - db
    command: db:5432
  start_keycloak:
    image: dadarek/wait-for-dependencies
    depends_on:
      - keycloak
    command: keycloak:8080
  mailhog:
    image: mailhog/mailhog:v1.0.0
    ports:
      - "8025:8025"
      - "1025:1025"
    environment:
      - MH_STORAGE=maildir
      - MH_MAILDIR_PATH=/maildir
    volumes:
      - ./mailhog/maildir:/maildir
  keycloak:
    depends_on:
      - start_dependencies
    image: havengrc-docker.jfrog.io/jboss/keycloak-postgres:3.2.1.Final
    environment:
      - POSTGRES_DATABASE=mappamundi_dev
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_PORT_5432_TCP_ADDR=postgres
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - PROXY_ADDRESS_FORWARDING=true
    ports:
      - "8080:8080"
    links:
      - db:postgres
    volumes:
      - ./keycloak/themes/haven:/opt/jboss/keycloak/themes/haven
      - ./keycloak/configuration/standalone.xml:/opt/jboss/keycloak/standalone/configuration/standalone.xml
      - ./keycloak/data:/keycloak
    command: ["-b", "0.0.0.0", "-Dkeycloak.migration.file=/keycloak/havendev-realm.json", "-Dkeycloak.migration.strategy=IGNORE_EXISTING", "-Dkeycloak.migration.provider=singleFile", "-Dkeycloak.migration.action=import"]
  sqitch:
    build:
      context: .
    working_dir: /src
    volumes:
      - .:/src
    links:
      - keycloak
    depends_on:
      - start_dependencies
    command: [deploy]
  apitest:
    build:
      context: .
      dockerfile: ./apitest/Dockerfile
    working_dir: /usr/src/app
    volumes:
      - ./apitest:/usr/src/app
    links:
      - api
      - keycloak
    depends_on:
      - start_dependencies
    command: [cucumber]
    environment:
      - endpoint=http://api/
  api:
    image: havengrc-docker.jfrog.io/postgrest/postgrest:v0.4.3.0
    command: [postgrest, "/config"]
    ports:
      - "3001:80"
    links:
      - db
    depends_on:
      - sqitch
    volumes:
      - ./postgrest/config:/config
      - ./postgrest/keycloak-dev-public-key.json:/keycloak-dev-public-key.json
      - ./postgrest/vendor/postgrest:/usr/local/bin/postgrest
  swagger:
    image: havengrc-docker.jfrog.io/swaggerapi/swagger-ui:v3.0.2
    ports:
      - "3002:8080"
    volumes:
      - ./swagger/index.html:/usr/share/nginx/html/index.html
  db:
    image: postgres:9.6.4
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_DB=mappamundi_dev
    volumes:
      - ./postgresql-data:/var/lib/postgresql
  havenapi:
    working_dir: /go/src/github.com/kindlyops/mappamundi/havenapi
    volumes:
      - ./havenapi:/go/src/github.com/kindlyops/mappamundi/havenapi
      - /go/src/github.com/kindlyops/mappamundi/havenapi/vendor
      - ./postgrest/keycloak-dev-public-key.json:/keycloak-dev-public-key.json
    environment:
      - HAVEN_JWK_PATH=/keycloak-dev-public-key.json
    build:
      context: .
      dockerfile: ./havenapi/Dockerfile-hotreload
    links:
      - db
    ports:
      - "3000:3000"
  webui:
    working_dir: /code
    volumes:
      - ./webui:/code
      - /code/node_modules
    build:
      context: .
      dockerfile: ./webui/Dockerfile-hotreload
    links:
      - api
      - havenapi
      - keycloak
    ports:
      - "2015:2016"
    command: [/code/installrun.sh]
    environment:
      - ELM_APP_KEYCLOAK_CLIENT_ID=havendev
  docs:
    working_dir: /docs
    volumes:
      - ./docs:/docs
      - /docs/node_modules
    build:
      context: .
      dockerfile: ./docs/Dockerfile
    ports:
      - "4000:4000"
    command: [serve]
  plantuml:
    working_dir: /docs
    volumes:
      - ./docs:/docs
    build:
      context: .
      dockerfile: ./docs/plantuml/Dockerfile
    command: [-v, /docs/plantuml/*.puml]
