html{
    height: 100%;
}

body {
  --mdc-theme-primary:#2FA09D;
  --mdc-theme-accent:#E86953;
  --mdc-theme-background: #f0f0f1;
  background-color:var(--mdc-theme-background, #f0f0f1);
  display: flex;
  flex-direction: row;
  min-height: 100% !important;
  font-size: 14px;
  font-family: 'Roboto Slab', serif !important;
  margin: auto;
}

header{
    background-color: var(--mdc-theme-accent) !important;
    color: var(--mdc-theme-text-primary-on-primary,#fff);
}

header > .mdc-toolbar__row{
    min-height:64px;
}

header a{
    color: var(--mdc-theme-text-primarymary-on-primary);
}

header a:hover, header a:focus{
    color:#3f4145;
    text-decoration: none;
}

section.mdc-toolbar__section--align-start{
    flex: 2;
    padding-left:16px;
}

section.mdc-toolbar__section--align-end a{
    font-size: 12px;
    text-decoration: none;
}

button.menu{
    display: none;
    padding: 16px 0px;
}

h1.mdc-toolbar__title{
    font-size: 20px;
    margin-left: 0px;
}

.bs-sidebar{
    background-color:#fff;
    border-right-width: 2px;
    width: 256px;
}

nav.mdc-list{
    padding-top:0px;
}

nav.mdc-list > a{
    font-family: 'Roboto Slab', serif !important;
    font-size: 19px !important;
    padding:8px 16px !important;
}

.bs-sidebar nav a.mdc-persistent-drawer--selected {
    background-color:#888 ;
    color: #3F4145;
}

.mdc-persistent-drawer .mdc-list-item__start-detail{
    color:lightgray !important;
}

a.mdc-list-item:focus, a.mdc-list-item:active{
    -webkit-tap-highlight-color:transparent;
}

.nav-flex{
    flex:1; /* keeps .drawer-logo at bottom and not overlaying rest of menu */
}

.drawer-logo{
    text-align: center;
    padding-bottom: 10px;
}
.content{
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.main{
    padding:0px 30px;
}

.container-margin{
    margin:0px 10px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
}

a{
    color:var(--mdc-theme-accent)
}

a:hover, a:focus{
    color: var(--mdc-theme-primary);
}

.heading{
    border-bottom: 2px solid #e4e4e4;
    padding: 16px 5px;
}
.subtitle{
    align-self: center;
    font-family: 'Roboto', sans-serif;
}

label {
    font-family: 'Roboto Slab', serif;
}

.required {
    color: #CB2915;
}

.alert{
    border:2px solid transparent;
    padding: 7px;
	font-family: "mr-eaves-modern", 'Roboto', sans-serif;
    margin-top: 30px;
    margin-bottom: 0;
}

.alert i{
    vertical-align: middle;
}

.alert-text{
    vertical-align: middle;
    margin-left:10px;
}

.alert.alert-error{
    background-color: #F8E7E7;
    border-color: #B91415;
}

    .alert.alert-error i{
        color: #B91416;
    }

.alert.alert-success {
    background-color: #E4F1E1;
    border-color: #4B9E39;
}

    .alert.alert-success i{
        color: #4B9E39;
    }

.form-btn{
    float:right;
    margin-top:20px;
}

.form-btn button {
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

#AccountForm div.mdc-textfield, #AccountForm input, #PasswordForm div.mdc-textfield, #PasswordForm input, #TotpForm div.mdc-textfield, #TotpForm input {
    width:100%;
}

@table-condensed-cell-padding: @table-cell-padding/2;

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    background-color: transparent;
}

.table thead{
    background-clip: padding-box;
    background-color: #f9f9f9;
    background-image: -webkit-linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: -o-linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: linear-gradient(to bottom, #fafafa 0%, #ededed 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffededed', GradientType=0);
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}

.table tr > th, .table tr > td {
    text-align: left;
    padding: 6px 10px;
    vertical-align: top;
    border-top: 0;
}

.table-bordered{
    border: 1px solid #d1d1d1;
    border-collapse:collapse;
    border-spacing: 0;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td{
    border: 1px solid #d1d1d1;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{
    border-bottom:2px solid #d1d1d1;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f5f5f5;
}



.table-hover > tbody > tr:hover {
    background-color:#E0E0E0;
}

.table-scroll{
    overflow-x: auto;
}

#TotpForm{
    margin: -45px 0px 0px 15px;
}

ol {
    padding-left: 15px;
} /* Authenticator Page */

.code{
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width:640px){
    button.menu{
        display: inherit;
    }

    .sm-screen-drawer{
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        contain: strict;
        z-index: 3;
    }

    .sm-screen-drawer.mdc-persistent-drawer--open {
         width:100%;
         height:100%;
       }

       .sm-screen-drawer .nav-flex {
          overflow-y:scroll;
        }

    .mdc-persistent-drawer:before {
        display: block;
        top: 0;
        width: 100%;
        background: rgba(0,0,0,.6);
        content: "";
        opacity: 0;
        will-change: opacity;
    }

    .mdc-persistent-drawer--open:before {
        opacity: 1;
    }

    .mdc-persistent-drawer:before, .mdc-persistent-drawer__drawer {
        position: absolute;
        left: 0;
        height: 100%;
    }
    .sm-screen-drawer.mdc-persistent-drawer--open {
     width:100%;
     height:100%;
   }

   .sm-screen-drawer .nav-flex {
      overflow-y:scroll;
    }
}

@media screen and (max-width:330px){
    .totp-img{
        margin-left:-25px;
    }
}

/* Bootstrap drowpdown used on template header */
.kc-dropdown{
    position: relative;
}
.kc-dropdown > a{
    display:block;
    padding: 11px 10px 12px;
    line-height: 12px;
    font-size: 12px;
    color: #fff !important;
    text-decoration: none;
}
.kc-dropdown > a::after{
    content: "\2c5";
    margin-left: 4px;
}
.kc-dropdown:hover > a{
    background-color: rgba(0,0,0,0.2);
}
.kc-dropdown ul li a{
    padding: 1px 11px;
    font-size: 12px;
    color: #000 !important;
    border: 1px solid #fff;
    text-decoration: none;
    display:block;
    line-height: 20px;
}
.kc-dropdown ul li a:hover{
    color: #4d5258;
    background-color: #d4edfa;
    border-color: #b3d3e7;
}
.kc-dropdown ul{
    position: absolute;
    z-index: 2000;
    list-style:none;
    display:none;
    padding: 5px 0px;
    margin: 0px;
    background-color: #fff !important;
    border: 1px solid #b6b6b6;
    border-radius: 1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    min-width: 100px;
}
.kc-dropdown:hover ul{
    display:block;
}
