:root{
  --primary:#2FA09D;
  --primary-dark:darken(#2FA09D, 30%)
  --primary-light:lighten(#2FA09D, 30%);
  --secondary:#E86953;
  --secondary-dark: darken(#E86953, 30%);
  --secondary-light: lighten(#E86953, 30%);
  --body-bg:#f0f0f1;
}

.bg-primary, .btn-primary{
  background-color: var(--primary) !important;
}

.bg-secondary, .btn-secondary{
  background-color: var(--secondary) !important;
}

.navdrawer-nav .nav-link.active
, .navdrawer-nav .nav-link:active
, nav.navdrawer-nav a.active i {
  color: var(--primary);
}

nav.navdrawer-nav i.material-icons{
  color: var(--dark-light);
}

.btn-flat-secondary, .btn-flat-secondary:active, .btn-flat-secondary:focus, .btn-flat-secondary:hover,
.btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary:focus, .btn-outline-secondary:hover{
  color: var(--secondary);
}

body {
  background-color:var(--body-bg) !important;
}

header{
  height:64px;
  font-family: 'Montserrat', sans-serif;
}

header.navbar ul.navbar-nav a.nav-link{
  font-size:14px !important;
}

nav.navdrawer-nav{
  display: initial !important;
  flex-grow: 2;
  font-family: 'Montserrat', sans-serif;
}

nav.navdrawer-nav a{
    font-size: 16px !important;
}


a.nav-link:active{
    -webkit-tap-highlight-color:transparent !important;
}

div.navdrawer-content{
  display: flex;
  flex-direction: column;
}

.drawer-logo{
    padding-bottom: 15px;
    align-self: center;
}

/*Keep this for when keycloak has a build process*/
/*.doc-main {
  @include media-breakpoint-up(lg) {
    .navdrawer-permanent-lg ~ & {
      margin-left: $navdrawer-width;
    }
  }
}*/

.custom-select:focus, .form-control-file:focus, .form-control:focus, .custom-select:hover, .form-control-file:hover, .form-control:hover {
    border-color: var(--primary);
    box-shadow: inset 0 -2px 0 -1px var(--primary);
    outline: 0;
} /*This overwrites the form lines being black*/

button{
  font-family: 'Montserrat', sans-serif;
}

button[type=submit], button[id^="add-link-"], button[id^="remove-link-"], button#logout-all-sessions{
  min-width:92px !important;
  text-align: center !important;
  white-space: normal;
  line-height: inherit;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
}

.heading{
    border-bottom: 2px solid #e4e4e4;
    padding: 16px 5px;
}

.heading h2{
  flex-grow: 2;
}

.subtitle{
  font-family: 'Bitter', serif;
    align-self: center;
}

label {
    font-family:"Bitter",serif ;
}

.required {
    color: #CB2915;
}

.alert i{
    vertical-align: bottom;
    margin-right:10px;
}

.alert.alert-error{
    background-color: #F7DEDE;
}

    .alert.alert-error i{
        color: #B91416;
    }

    .alert.alert-success i{
        color: #4B9E39;
    }

.invisible-btn{
  background-color: transparent;
  border: none;
  color: var(--secondary);
}

.invisible-btn:hover, .invisible-btn:focus{
  color: var(--primary);
  outline: none;
  cursor: pointer;
}

/* Authenticator Page */
ol#AccountForm{
  font-family:'Bitter',serif ;
  padding-inline-start:14px;
}

#TotpTable thead tr th{
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color:#3F4145;
}

.code{
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width:576px){
  .heading{
    display: flex;
  }
}

@media screen and (min-width:992px){
  main.ml-lg-5{
    margin-left: 15rem !important;
  }
}

@media screen and (max-width:372px){
    button[type=submit], button[id^="add-link"], button[id^="remove-link"]{
      width:100% !important;
      margin-bottom: 5px;
    }
    .totp-img{
        margin-left:-40px;
    }
    #TotpForm div.form-group{
      padding-left: 0px !important;
    }
}
