version: 2
jobs:
  build:
    machine:
      image: circleci/classic:edge
    steps:
      - checkout
      - run:
          name: Check docker compose version
          command: docker-compose -v
      - run:
          name: Build images
          command: docker-compose build
      - restore_cache:
          key: sysconfcpus
      - run:
          name: Install sysconfcpus
          command: |
            if [ ! -d sysconfcpus/bin ];
            then
              git clone https://github.com/obmarg/libsysconfcpus.git;
              cd libsysconfcpus;
              ./configure --prefix="$HOME/$CIRCLE_PROJECT_REPONAME/sysconfcpus";
              make && make install;
              cd ..;
            fi
      - run:
          name: Install Elm system with npm
          command: npm install --only=dev
          no_output_timeout: 15m
          working_directory: webui
      - run: docker-compose run start_dependencies
      - run: docker-compose run sqitch
      - run: docker-compose run start_keycloak
      - run:
          name: Build marketing site with hugo
          command: ./vendor/linux/hugo
          working_directory: marketing
      - run: docker build --rm=false -t kindlyops/complianceopsmarketing -f marketing/Dockerfile .
      - run: docker build --rm=false -t kindlyops/mappamundi .
      - run: docker build --rm=false -t kindlyops/havenapi havenapi/
      - run:
          name: compile Elm project
          command: npm run-script build
          no_output_timeout: 15m
          working_directory: webui
      - run: docker build --rm=false -t kindlyops/havenweb webui
      - run: docker-compose build newapi
      - run: ./test


  deployment:
    docker:
      - image: circleci/node:6.10-browsers
    steps:
      - checkout
      - setup_remote_docker
      - deploy:
          name: Prerelease
          command: |
            if [ "${CIRCLE_BRANCH" == "master" ]; then
              docker login -e $DOCKER_EMAIL -u $DOCKER_USER -p $DOCKER_PASS
              docker tag kindlyops/mappamundi kindlyops/mappamundi:$CIRCLE_SHA1
              docker tag kindlyops/complianceopsmarketing kindlyops/complianceopsmarketing:$CIRCLE_SHA1
              docker tag kindlyops/havenweb kindlyops/havenweb:$CIRCLE_SHA1
              docker push kindlyops/mappamundi:$CIRCLE_SHA1
              docker push kindlyops/complianceopsmarketing:$CIRCLE_SHA1
              docker push kindlyops/havenweb:$CIRCLE_SHA1
            else
              echo "Not master branch so not deploying"
            fi
      # TODO: port to circle 2.0
      # release:
      #   tag: /v[0-9]+(\.[0-9]+)*/
      #   owner: kindlyops
      #   commands:
      #     - docker login -e $DOCKER_EMAIL -u $DOCKER_USER -p $DOCKER_PASS
      #     - docker tag kindlyops/mappamundi kindlyops/mappamundi:$CIRCLE_TAG
      #     - docker tag kindlyops/complianceopsmarketing kindlyops/complianceopsmarketing:$CIRCLE_TAG
      #     - docker tag kindlyops/havenweb kindlyops/havenweb:$CIRCLE_TAG
      #     - docker tag kindlyops/mappamundi kindlyops/mappamundi:$CIRCLE_SHA1
      #     - docker tag kindlyops/complianceopsmarketing kindlyops/complianceopsmarketing:$CIRCLE_SHA1
      #     - docker tag kindlyops/havenweb kindlyops/havenweb:$CIRCLE_SHA1
      #     - docker push kindlyops/mappamundi:$CIRCLE_TAG
      #     - docker push kindlyops/havenweb:$CIRCLE_TAG
      #     - docker push kindlyops/complianceopsmarketing:$CIRCLE_TAG
      #     - docker push kindlyops/complianceopsmarketing:$CIRCLE_SHA1
      #     - docker push kindlyops/mappamundi:$CIRCLE_SHA1
      #     - docker push kindlyops/havenweb:$CIRCLE_SHA1
