:8443

tls /certs/fullchain.pem /certs/privkey.pem

redir 301 {
  if {>X-Forwarded-Proto} is http
  / https://{host}{uri}
}

proxy /auth keycloak:8080 {
  transparent
}

proxy /api api:80 {
  without /api
  transparent
}

proxy /api/files havenapi:3000 {
  transparent
}

log / stdout "{combined}"

templates /js .js

errors stdout
