$primary: (
  color: #5AB4AC,
  dark:  darken(#5AB4AC, 10%),
  light: lighten(#5AB4AC, 10%)
);

$secondary: (
  color: #E86953,
  dark:  darken(#E86953, 10%),
  light: lighten(#E86953, 10%)
);
$yiq-contrasted-threshold:  160;


@import "node_modules/daemonite-material/assets/scss/material";

@include media-breakpoint-up(lg) {
  .content-wrapper {
    margin-left: $navdrawer-width;
  }
}
.content-wrapper {
    margin-top: 4rem;
}

.user-avatar {
    margin-top: -10px;
    border-radius: 10px;
    max-height: 37px;
}

.login-header {
    text-transform: uppercase;
    font-family: "mr-eaves-modern", sans-serif; 
}

#footer-image {
    padding-top: 80px;
    margin-bottom: -68px;
    width: 248px;
    position: relative;
    z-index: -1;
}

#footer-container {
    overflow: hidden;
    position: relative;
  z-index: 1;
}

.underline {
  text-decoration: underline;
}
