body {
  /* No margin on body so toolbar can span the screen */
  margin: 0;
}

.elm-overlay {
  /* make sure the elm time-travel control is on top */
  z-index: 999;
}

app-toolbar {
  /* Toolbar is the main header, so give it some color */
  background-color: #E86953;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: white;
  --app-toolbar-font-size: 24px;
  box-shadow: none;
}

#profiletoolbar {
  background-color: #333333;
  font-size: 15px;
}

.nav-menu > div {
  display: block;
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#drawer > app-header-layout > iron-selector {
  cursor: pointer;
  > div > iron-icon {
    color: lightgray;
  }
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
  display: none;
}

.nav-menu > div.iron-selected {
  background-color: #888;
}

#drawerlogo{
  position: absolute;
  bottom: 5%;
  left: 34%;
}

[hidden] {
  display: none;
}
