body {
  /* No margin on body so toolbar can span the screen */
  margin: 0;
}

.elm-overlay {
  /* make sure the elm time-travel control is on top */
  z-index: 999;
}

app-toolbar {
  /* Toolbar is the main header, so give it some color */
  background-color: #E86953;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: white;
  --app-toolbar-font-size: 24px;
}

#profiletoolbar {
  background-color: #333333;
  font-size: 15px;
}

.nav-menu > div {
  display: block;
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 500;
}

#content {
  padding: 16px;
  margin: 24px;
  border-radius: 5px;
}

.main-header{
  left:0px !important;
}

#drawer {
  top:64px;
  box-shadow: #DBDBDC 5px 8px 18px;
}

#drawer > app-header-layout{
  position: static;
}

#drawer > app-header-layout > iron-selector {
  cursor: pointer;
  > div > iron-icon {
    color: lightgray;
  }
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
  display: none;
}

.nav-menu > div.iron-selected {
  background-color: #888;
}

.user-menu {
  position: absolute;
  right:10px;
  cursor: pointer;
  color:white;
}

.user-menu-items{
  min-width:150px !important;
  position: fixed; /* The position, top, and left makes user menu drop below the icon instead of on top */
  top: 42px;
  left:210px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2); /* box-shadow and border-radius overwrites design caused by position:fixed */
  border-radius: 2px;
}

.user-menu-items > a:hover, .user-menu-items > a:active, .user-menu-items > a:focus{
  outline:0;
  text-decoration: none;
}

.user-menu-items paper-item:hover, .user-menu-items paper-item:active {
  background-color: #f0f0f1;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 0px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px -5px rgba(0, 0, 0, 0.2);
}

#drawerlogo{
  position: absolute;
  bottom: 150px;
  left: 88px;
}

[hidden] {
  display: none;
}

/* ported from havengrc landing page, feel free to refactor */
.jumbotron {
  padding-bottom:150px;
}

#wireframe-container {
  margin-bottom:20px;
}

#wireframe {
margin-top: -150px;
}

#footer-lines-container {
  overflow: hidden;
}
#footer-lines {
  padding-top:80px;
  margin-bottom:-63px;
}

footer {
  font-family: "mr-eaves-modern",sans-serif;
  background-color: #2fa09d;
  color: #fff;
  text-align: center;
  height:55px;
  padding:15px;
}
 footer a {
   color: #fff;
   text-decoration: underline;
 }
footer p {
  margin-bottom:0px;
}
