:root{
  --primary:#2FA09D;
  --primary-dark:darken(#2FA09D, 30%)
  --primary-light:lighten(#2FA09D, 30%);
  --secondary:#E86953;
  --secondary-dark: darken(#E86953, 30%);
  --secondary-light: lighten(#E86953, 30%);
  --body-bg:#f0f0f1;
}

.bg-primary, .btn-primary{
  background-color: var(--primary) !important;
}

.bg-secondary, .btn-secondary{
  background-color: var(--secondary) !important;
}

.btn-flat-secondary, .btn-flat-secondary:active, .btn-flat-secondary:focus, .btn-flat-secondary:hover,
.btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary:focus, .btn-outline-secondary:hover{
  color: var(--secondary);
}

body {
  background-color:white;
  font-size: 16px !important;
}

header{
  height:64px;
}

.primary-font{
  font-family: 'Montserrat', sans-serif;
}

label, #Registration a{
  font-family: 'Bitter', serif
}

.custom-select:focus, .form-control-file:focus, .form-control:focus, .custom-select:hover, .form-control-file:hover, .form-control:hover {
    border-color: var(--primary);
    box-shadow: inset 0 -2px 0 -1px var(--primary);
    outline: 0;
} /*This overwrites the form lines being black*/

button{
  font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Bitter', serif ;
}

h2{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
}

.alert i{
  margin-right: 10px;
}

.alert.alert-error{
    background-color: #f7dede;
}

    .alert.alert-error i{
        color: #B91416;
    }

    .alert.alert-success i{
        color: #4B9E39;
    }

    .alert.alert-info i{
        color: #5994B2;
    }

/*-- Template 1 - Front Login Page --*/

.jumbotron{
  border: none;
  box-shadow: none;
}

.login-header{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: var(--secondary);
  margin-top:27px
}

.login-box{
    border-right: 2px solid #87898C;
}

.forgot-password{
    font-family: "ff-tisa-web-pro", serif;
    font-size:13px;
}

.orText{
  background:#fff;
  margin: auto -60px auto 60px;
}

.bottom-container{
	background-color: var(--body-bg);
  text-align: center;
  margin-top: 48px;
}

.bottom-container a:hover{
    color: white;
}

footer{
	background-color: var(--primary);
	height: 55px;
	padding: 15px;
}

footer a, footer p{
	color:#fff;
  font-family: 'Montserrat', sans-serif !important;
}

#footer-lines{
	padding-top: 145px;
	margin-bottom: -63px;
	width:248px;
}

/*-- END Template 1 --*/



/*-- Template 2 - Other Pages --*/

body.body-other-pages{
    background-color: var(--body-bg) !important;
}

a{
    color:var(--secondary)
}

a:hover, a:focus{
    color: var(--primary);
}

.heading{
    border-bottom: 1px solid #E4E4E4;
}

/*.heading h1{
    font-family: 'Montserrat', sans-serif;
    color: #3f4145;
    font-weight: normal;
}*/

.email-verify-box{
  border: 1px solid #343434;
  border-radius:10px;
}

.code{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

@media screen and (max-width:330px){
    #kc-totp-secret-qr-code, .code{
        margin-left:-25px;
    }
}

@media screen and (max-width:576px){
    .login-box{
        border-right:0px;
        border-bottom: 2px solid #87898C;
        margin-bottom: 14px;
    }

    .orText{
      text-align: center;
      margin:auto;
      margin-bottom: -12px;
      width: 35px;
    }
}

@media screen and (min-width: 768px){
    .login-header{
        font-size: 72px;
    }
}
